/* VARIABLES */
:root {
  --clr-primary-dark: #283842;
  --clr-primary-light: #E4E2DD;
}


/* INITIALIZATION */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  /* outline: red 1px solid; */
}

body {
  color: var(--clr-primary-dark);
  background-color: var(--clr-primary-light);
  font-family: 'Sorts Mill Goudy', serif;
  cursor: default;
  font-size: 1.25rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: radial-gradient(#442222, black);
}

a {
  text-decoration: none;
  color: var(--clr-primary-light), white;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.container {
  /* outline: red 1px solid; */
  --max-width: 976px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  height: 100%;
  margin-inline: auto;
}

/* NAV */

.nav-wrapper {
  --padding: 2rem;
  margin-top: 2rem;
}

.nav-buttons button:not(:first-child) {
  margin-left: 1rem;
}

@media screen and (width < 576px) {
  .nav-wrapper {
    text-align: center;
  }
}

/* MODAL */

.modal {
  top: 0;
  left: 0;

  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--clr-primary-light);
  padding-inline: 2rem;
  padding-bottom: 2rem;
  margin: 1rem auto;
  border-radius: 4px;
  height: auto;
}

.close-container {
  display: flex;
  justify-content: flex-end;
}

.close {
  color: var(--clr-primary-dark);
  font-size: 3rem;
  caret-color: transparent;
}

.close:hover,
.close:focus-visible {
  color: var(--clr-primary-dark);
  cursor: pointer;
}

.modal-header {
  font-size: 3rem;
}

.modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-block: 2rem;
}

@media screen and (width < 892px) {
  .modal .container {
    --max-width: 768px;
  }

  .modal-body {
    grid-template-columns: 1fr;
  }
}

/*.modal-column {*/
/*}*/

.postscript {
  font-size: 1rem;
}

.letter-image {
  width: 100%;
  margin-inline: auto;
  caret-color: transparent;
}


/* UTILITY */

.btn {
  color: var(--clr-primary-light);
  padding: 0.6rem 2rem 0.5rem;
  background: none;
  border: 1px solid var(--clr-primary-light);
}

.btn:hover,
.btn:focus-visible {
  color: var(--clr-primary-dark);
  background-color: var(--clr-primary-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
